<div class="w-full h-full flex flex-wrap align-content-center justify-content-center">
    <div class="flex flex-column align-items-center gap-6">
        <h2>How to  emulate an async ctor in ts classes</h2>
        <p-button label="Instantiate async view model" (onClick)="model.loadAsyncElementButtonClick()"/>
    </div>
    <div class="w-full" [style]="{textAlign: 'center'}">
        @if (model.loading) {
            <p>Loading datas (please wait for 3 secs)...</p>
        }
        <app-async-element [model]="model.asyncElementVM"/>
    </div>
</div>
@if (model.loading) {
    <p-progressSpinner class="absolute top-50 left-50" [style]="{margin: '-50px'}" ariaLabel="loading" />
}
